*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
    font-size: 40px;
}

h2 {
    font-size: 34px;
    margin: 0;
    margin-bottom: 20px;
}

h3 {
    font-size: 28px;
    margin: 0;
    margin-bottom: 10px;
}

h4 {
    font-size: 22px;
    margin: 0;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}
img{
    max-width:100%;
    object-fit: cover;
    display: block;
}
video{
    max-width: 100%;
    object-fit: cover;
    display: block;
}
section{
    padding: 15px 0;
}
.container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}
.banner-section{
    background-image: url(../images/inner-banner.jpg);
    background-size: cover;
    background-position: top;
}
.banner-section .inner-banner {
    min-height: 120px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.content-section{
    padding: 40px 0;
}
.row-wrap {
    display: flex;
    width: calc(100% + 30px);
    margin: 0 -15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-left {
    flex: 0 0 80%;
    max-width: 80%;
    padding: 0 15px;
}
.col-left .content-block{
    margin-bottom: 25px;
}
.card-wrap{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    justify-content: space-between;
    margin: 0 -15px;
}
.card-items{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.card-content-media{
    margin-bottom: 10px;
}
.card-three-items .card-items{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}
.listing{
    margin: 0;
    padding-left: 25px;
}
.listing li{
    margin-bottom: 3px;
    font-size: 18px;
}
.lower-roman-listing{
    list-style-type: lower-roman;
}
.col-right {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 15px;
}
.image-row{
    margin-bottom: 25px;
}
.image-row:last-child{
    margin-bottom: 0;
}