*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
    font-size: 40px;
    padding-left: 90px;
    /* color: #4c5d6a; */
}

h2 {
    font-size: 34px;
    margin: 0;
    margin-bottom: 20px;
}

h3 {
    font-size: 28px;
    margin: 0;
    margin-bottom: 10px;
}

h4 {
    font-size: 22px;
    margin: 0;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}
img{
    max-width:100%;
    object-fit: cover;
    display: block;
}
video{
    max-width: 100%;
    object-fit: cover;
}
section{
    padding: 15px 0;
}
.container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}
.banner-section{
    background-image: url(../images/inner-banner.jpg);
    background-size: cover;
}
.banner-section .inner-banner {
    min-height: 150px;
    display: flex;
    align-items: center;
}
.row-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.col-left {
    width: 79%;
}
.col-left .division{
    margin-bottom: 25px;
}
.card-wrap{
    display: flex;
    width: calc(100% + 30px);
    justify-content: space-between;
    margin: 0 -15px;
}
.card-items{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.card-content-media{
    margin-bottom: 10px;
}
.card-three-items .card-items{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}
.listing{
    margin: 0;
    padding-left: 30px;
}
.lower-roman-listing{
    list-style-type: lower-roman;
}
.col-right {
    width: 19%;
}
.image-row{
    margin-bottom: 25px;
}
.image-row:last-child{
    margin-bottom: 0;
}